<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Contact-Manager</title>

	

	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	 <link rel="stylesheet" href="css/style.css">
	<!-- <link rel="stylesheet" href="assets/css/style.css"> -->

</head>

<body>
	<!-- FORM -->
	<form id="myForm" name="myForm" class="form-group">
		<!-- <form id="myForm" name="myForm" > -->
		<fieldset>
			<legend>New Contact Information</legend>

			<div class="form-row">
				<label for="firstName" class="form-group col-4">Name:
					<!-- <br> -->
					<input id="firstName" class="form-control" type="text" name='firstName' placeholder="Name">
				</label>
				<!-- </div> -->

				<!-- <div class="form-group"> -->
				<label for="lastName" class="form-group col-4">Last Name:
					<!-- <br> -->
					<input id="lastName" class="form-control" type="text" name='lastName' placeholder="Last Name">
				</label>
				<!-- </div> -->

				<label for="phoneNumber" class="form-group col-4">Phone Number:
					<!-- <br> -->
					<input id="phoneNumber" class="form-control" type="text" name='phoneNumber' placeholder="(305)444-1111">
				</label>
			</div>

			<div class="form-row">
				<label for="email" class="form-group col-4">Email address:
					<!-- <br> -->
					<input id="email" class="form-control" type="email" name='email' placeholder="example@gmail.com">
				</label>

				<label for="birthday" class="form-group col-4">Birthday:
					<!-- <br> -->
					<input id="birthday" class="form-control" type="date" name='birthday' placeholder="1979-12-04">
				</label>

				<label for="notes" class="form-group col-4">Notes:
					<!-- <br> -->
					<input id="notes" class="form-control" type="text" name='notes' placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
				</label>
			</div>

			<!-- <br> -->
			<button id="post-btn" class="btn btn-primary">Save Contact</button>
		</fieldset>

	</form>

	<br>

	<button id="get" class="btn btn-primary">Get all contacts</button>
	<br>

	<!-- SEARCH INPUT - sr-only = screen reader only-->
	<label for="search-input" class="sr-only">Search by: </label>
	<input type="text" id="search-input" placeholder="Search by:" title="Type in a name">


	<select id='propToFilter' name="options">
		<option value="0" data-val='0'>Name</option>
		<option value="1" data-val='1'>Last Name</option>
		<option value="2">Phone Number</option>
		<option value="3">Email</option>
	</select>

	<br>
	<br>
	<!-- DISPLAY RESPONSE -->
	<div id="responseDisplay"> &nbsp;</div>
	<br>

	<!-- TABLE -->
	<div class="table-responsive">
		<table id="contactsTable" class="table table-striped">
			<thead class="thead-light nowrap" >
				<tr>
					<th id="th-firstName">Name
						<span>&#9650;</span>
					</th>
					<th id="th-lastName">Last Name
						<span>&nbsp;</span>
					</th>
					<th id="th-phone">Phone
						<span>&nbsp;</span>
					</th>
					<th id="th-email">Email
						<span>&nbsp;</span>
					</th>
					<th id="th-dob">DOB
						<span>&nbsp;</span>
					</th>
					<th id="th-notes">Notes
						<span>&nbsp;</span>
					</th>
					<th id=""> &nbsp; Edit &nbsp;</th>
					<th id="">Delete</th>
				</tr>
			</thead>
			<tbody>

			</tbody>
		</table>
	</div>
	<!-- SCRIPTS -->
	<!-- <script src="assets/js/table-sort.js"></script> -->
	<!-- <script src="assets/js/requests.js"></script>
	<script src="assets/js/filter-by-property.js"></script>
	<script src="assets/js/table-sort.js"></script>

	<script src="assets/js/add-listeners.js"></script>
	<script src="assets/js/main.js"></script> -->

	<script src="js/table-sort.js"></script>
	<script src="js/requests.js"></script>
	<script src="js/filter-by-property.js"></script>
	<script src="js/table-sort.js"></script>

	<script src="js/add-listeners.js"></script>
	<script src="js/main.js"></script>


</body>

</html>