<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Contact-Manager</title>



	<!-- BOOTSTRAP -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	<link rel="stylesheet" href="css/style.css">
	<!-- <link rel="stylesheet" href="assets/css/style.css"> -->

</head>

<body>


	<!-- FORM -->
	<details>
		<summary>Create new contact</summary>
		<form id="myForm" name="myForm" class="form-group">
			<!-- <br> -->
			<fieldset>
				<!-- <legend class="col-form-label">New Contact Information</legend> -->

				<div class="form-row">
					<label for="firstName" class="form-group col-4">Name:
						<input id="firstName" class="form-control form-control-sm" type="text" name='firstName' placeholder="Name">
					</label>

					<label for="lastName" class="form-group col-4">Last Name:
						<input id="lastName" class="form-control form-control-sm" type="text" name='lastName'
							placeholder="Last Name">
					</label>

					<label for="phoneNumber" class="form-group col-4">Phone Number:
						<input id="phoneNumber" class="form-control form-control-sm" type="text" name='phoneNumber'
							placeholder="(305)444-1111">
					</label>
				</div>

				<div class="form-row">
					<label for="email" class="form-group col-4">Email address:
						<input id="email" class="form-control form-control-sm" type="email" name='email'
							placeholder="example@gmail.com">
					</label>

					<label for="birthday" class="form-group col-4">Birthday:
						<input id="birthday" class="form-control form-control-sm" type="date" name='birthday'
							placeholder="1979-12-04">
					</label>

					<label for="notes" class="form-group col-4">Notes:
						<input id="notes" class="form-control form-control-sm" type="text" name='notes'
							placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
					</label>
				</div>

				<button id="post-btn" class="btn btn-primary btn-sm">Save New Contact</button>
				<!-- This span will hold the POST response. -->
				<span> </span>


			</fieldset>
		</form>
	</details>

	<br>

	<div class="get-btn-parent">
		<button id="get" class="btn btn-primary btn-sm">Get all contacts</button>
	</div>
	<br>

	<!-- SEARCH INPUT - sr-only = screen reader only-->

	<div class="input-group input-group-sm">

		<!-- <div class="input-group-prepend">
			<span class="input-group-text" id="">Search by:</span>
		</div> -->
		<div class="col-3">
			<select id='propToFilter' name="options" class="custom-select mr-sm-2 ">
				<option value="0" data-val='0'>Name</option>
				<option value="1" data-val='1'>Last Name</option>
				<option value="2">Phone Number</option>
				<option value="3">Email</option>
			</select>
		</div>

		<div class="input-group-append">
			<label for="search-input" class="sr-only"></label>
			<input type="text" class="form-control" id="search-input" placeholder="search" title="Type in a name">
		</div>
	</div>

	<br>
	<br>
	<!-- DISPLAY RESPONSE -->
	<div id="responseDisplay"> &nbsp;</div>
	<br>

	<!-- TABLE -->
	<div class="table-responsive">
		<table id="contactsTable" class="table ">
			<thead class="thead-light nowrap">
				<tr>
					<th id="th-firstName" data-name='firstName' data-cell-index='0'>Name
						<span>&#9650;</span>
					</th>
					<th id="th-lastName" data-name="lastName" data-cell-index='1'>Last Name
						<span>&nbsp;</span>
					</th>
					<th id="th-phone" data-name="phoneNumber" data-cell-index='2'>Phone
						<span>&nbsp;</span>
					</th>
					<th id="th-email" data-name="email" data-cell-index='3'>Email
						<span>&nbsp;</span>
					</th>
					<th id="th-dob" data-name="birthday" data-cell-index='4'>DOB
						<span>&nbsp;</span>
					</th>
					<th id="th-notes" data-name="notes" data-cell-index='5'>Notes
						<span>&nbsp;</span>
					</th>
					<th id=""> &nbsp; Edit &nbsp;</th>
					<th id="">Delete</th>
				</tr>
			</thead>
			<tbody>
				<!-- TBODY - in here -->
			</tbody>
		</table>
	</div>

	<!-- SCRIPTS -->
	<script src="js/table-sort.js"></script>
	<!-- <script src="js/sort-table-array.js"></script> -->
	<!-- <script src="js/requests.js"></script> -->
	<script src="js/filter-by-property.js"></script>
	<!-- <script src="js/sort-table-array.js"></script> -->
	<script src="js/table-sort.js"></script>

	<!-- <script src="js/add-listeners.js"></script> -->
	<!-- <script src="js/main.js"></script> -->

	<script type="module" src="js/index.js"></script>
</body>

</html>