<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Contact-Manager</title>

	<link rel="stylesheet" href="css/style.css">
	<!-- <link rel="stylesheet" href="assets/css/style.css"> -->

	<!-- BOOTSTRAP -->
	<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	 crossorigin="anonymous"> -->

</head>

<body>
	<!-- FORM -->
	<form id="myForm" name="myForm" class="form-group">
		<fieldset>
			<legend>New Contact Information</legend>

			<!-- <div class="form-group"> -->
			<label for="firstName">Name:
				<br>
				<input id="firstName" type="text" name='firstName' placeholder="Someone">
			</label>
			<!-- </div> -->

			<!-- <div class="form-group"> -->
			<label for="lastName">LastName:
				<br>
				<input id="lastName" type="text" name='lastName' placeholder="Else">
			</label>
			<!-- </div> -->

			<label for="phoneNumber">Phone Number:
				<br>
				<input id="phoneNumber" type="text" name='phoneNumber' placeholder="7775555">
			</label>


			<label for="email">Email address:
				<br>
				<input id="email" type="email" name='email' placeholder="some@example.com">
			</label>


			<label for="birthday">Birthday:
				<br>
				<input id="birthday" type="date" name='birthday' placeholder="1979-12-04">
			</label>


			<label for="notes">Notes:
				<br>
				<input id="notes" type="text" name='notes' placeholder="Lorem ipsum dolor sit amet consectetur adipisicing elit.">
			</label>

			<br>
			<button id="post-btn">Save Contact</button>
		</fieldset>

	</form>

	<br>

	<button id="get">Get all contacts</button>
	<br>

	<!-- SEARCH INPUT -->
	<input type="text" id="search-input" placeholder="Search for names.." title="Type in a name">

	<select id='propToFilter' name="options">
		<option value="0" data-val='0'>Name</option>
		<option value="1" data-val='1'>Last Name</option>
		<option value="2">Phone Number</option>
		<option value="3">Email</option>
	</select>

	<br>
	<br>
	<!-- DISPLAY RESPONSE -->
	<div id="responseDisplay"> &nbsp;</div>
	<br>

	<!-- TABLE -->
	<table id="contactsTable">
		<thead>
			<tr>
				<th id="th-firstName">Name
					<span>&#9650;</span>
				</th>
				<th id="th-lastName">Last Name
					<span>&nbsp;</span>
				</th>
				<th id="th-phone">Phone
					<span>&nbsp;</span>
				</th>
				<th id="th-email">Email
					<span>&nbsp;</span>
				</th>
				<th id="th-dob">DOB
					<span>&nbsp;</span>
				</th>
				<th id="th-notes">Notes
					<span>&nbsp;</span>
				</th>
				<th id=""> &nbsp; Edit &nbsp;</th>
				<th id="">Delete</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>

	<!-- SCRIPTS -->
	<!-- <script src="assets/js/table-sort.js"></script> -->
	<!-- <script src="assets/js/requests.js"></script>
	<script src="assets/js/filter-by-property.js"></script>
	<script src="assets/js/table-sort.js"></script>

	<script src="assets/js/add-listeners.js"></script>
	<script src="assets/js/main.js"></script> -->

	<script src="js/table-sort.js"></script>
	<script src="js/requests.js"></script>
	<script src="js/filter-by-property.js"></script>
	<script src="js/table-sort.js"></script>

	<script src="js/add-listeners.js"></script>
	<script src="js/main.js"></script>


</body>

</html>