<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<h3> Path:
		<%= path %>
	</h3>

	<!-- <form action="POST" action="" onsubmit="return testPost();" method="POST"> -->
	<!-- <form action="contact" onsubmit="return testPost();" method="POST"> -->
	<form action="contact2" onsubmit="return returnFalse()" method="POST">
		Name:
		<br>
		<input type="text" name='fname' value="Irving">
		<br> LastName:
		<br>
		<input type="text" name='lname' value="Luna">
		<br> Phone Number:
		<br>
		<input type="text" name='phone' value="7775555">
		<input type="submit" value="POST">
	</form>

	<!-- <form action="" onsubmit="return testGet();">
		Name:
		<input type="text" name='fname'>
		<input type="submit" value="GET">
	</form> -->
	<br>
	<button onclick="testPost()">POST</button>
	<button onclick="testGet()">GET</button>
	<button onclick="testGet()">PUT</button>
	<button onclick="testPost()">DELETE</button>

	<div></div>
	<script>
		function returnFalse (val) {
console.log(document.querySelector('form'));
			return false;
		}
		function testPost() {
			let xhr = new XMLHttpRequest();
			
			xhr.onload = function () { }
			let data = JSON.stringify({ firstname: 'Jane', lastname: 'Doer' });
			xhr.onreadystatechange = function () {
				if (this.readyState == 4 && this.status == 200) {
					document.querySelector('div').innerHTML = xhr.responseText;
					console.log('allHeaders: ', xhr.getAllResponseHeaders());
					console.log('responseText: \n\n', xhr);
				}

			}
			xhr.open('post', '/contact', true);
			// console.log(fname)
			xhr.setRequestHeader("Content-type", "text/plain");
			xhr.send(data);
			// console.log(req);
			return false;
		}


		function testGet() {

			let xhr = new XMLHttpRequest();

			xhr.open('get', '/contacts', true);
			xhr.setRequestHeader("Content-type", "text/html");

			xhr.onreadystatechange = function () {
				// Process the server response here.
				// console.log('allHeaders: ', xhr.getAllResponseHeaders());

				if (this.readyState == 4 && this.status == 200) {
					document.querySelector('div').innerHTML = xhr.responseText;
					// console.log('responseText: ', xhr.responseText);
					// console.log(typeof this.readyState, this.status);
					// console.log('responseText: ', xhr);
				}

			}
			// xhr.onload = function () { }
			// let data = JSON.stringify({ firstname: 'Jane', lastname: 'Doer' });
			// xhr.send(data);

			xhr.send();
			return false;
		}
	</script>

</body>

</html>


<!-- 
	I want to have a button for each of my verbs

 -->
<!-- 
	onsubmint='return somefunction();'
	https://stackoverflow.com/questions/5195933/with-form-validation-why-onsubmit-return-functionname-instead-of-onsubmit
 -->