<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<h3> Path:
		<%= path %>
	</h3>

	<form id="myForm" name="myForm">
		Name:
		<br>
		<input type="text" name='fname' value="Irv">
		<br> LastName:
		<br>
		<input type="text" name='lname' value="Ang">
		<br> Phone Number:
		<br>
		<input type="text" name='phone' value="7775555">

		<input type="submit" value="POST" name="submit">
		<!-- <input id="formButton" type="button" value="POST2">
		<button>Post3</button> -->
	</form>

	<br>
	<button onclick="testPost()">POST</button>
	<button onclick="testGet()">GET</button>
	<button onclick="testGet()">PUT</button>
	<button onclick="testPost()">DELETE</button>

	<div></div>
	<script src="assets/js/requests.js">

	</script>

</body>

</html>


<!-- 
	I want to have a button for each of my verbs

 -->
<!-- 
	onsubmint='return somefunction();'
	https://stackoverflow.com/questions/5195933/with-form-validation-why-onsubmit-return-functionname-instead-of-onsubmit
 -->