<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document</title>
</head>

<body>
	<h3> Path:
		<%= path %>
	</h3>

	<form id="myForm" name="myForm">
		Name:
		<br>
		<input id="firstName" type="text" name='firstName' value="Someone">
		<br> LastName:
		<br>
		<input id="lastName" type="text" name='lastName' value="ArcTangent">
		<br> Phone Number:
		<br>
		<input id="phoneNumber" type="text" name='phoneNumber' value="7775555">
	</form>

	<br>
	<button id="post">FETCH POST</button>
	<button id="get">FETCH GET</button>
	<!-- <button id="put" onclick="comingSoon(this.textContent);">PUT</button>
	<button id="delete" onclick="comingSoon(this.textContent);">DELETE</button>

	<button id="" onclick="getInputValues();">getInputValues()</button>
	<button id="" onclick="testGet()">GET All contacts</button> -->

	<br>
	<br>

	<div id="responseDisplay"></div>
	<br>

	<table id="contactsTable" border>
		<thead>
			<tr>
				<th>Name</th>
				<th>Last Name</th>
				<th>Phone</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>

	<br>

	<script src="assets/js/requests.js"></script>
	<script src="assets/js/add-listeners.js"></script>

</body>

</html>