<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Document EJS</title>
	<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

	<form id="myForm" name="myForm">
		Name:
		<br>
		<input id="firstName" type="text" name='firstName' value="Someone">
		<br> LastName:
		<br>
		<input id="lastName" type="text" name='lastName' value="Else">
		<br> Phone Number:
		<br>
		<input id="phoneNumber" type="text" name='phoneNumber' value="7775555">
		<br> Email address:
		<br>
		<input id="email" type="email" name='email' value="some@example.com">
		<br> Birthday:
		<br>
		<input id="birthday" type="date" name='birthday' value="1979-12-04">
		<br> Notes:
		<br>
		<input id="notes" type="text" name='notes' value="Lorem ipsum dolor sit amet consectetur adipisicing elit.">	
	</form>

	<br>
	<button id="post">Save Contact</button>
	<button id="get">Get Contacts</button>
	<!-- <button id="put" onclick="comingSoon(this.textContent);">PUT</button>
	<button id="delete" onclick="comingSoon(this.textContent);">DELETE</button>

	<button id="" onclick="getInputValues();">getInputValues()</button>
	<button id="" onclick="testGet()">GET All contacts</button> -->

	<br>
	<br>

	<div id="responseDisplay"> &nbsp;</div>
	<br>

	<table id="contactsTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Last Name</th>
				<th>Phone</th>
				<th>Email</th>
				<th>DOB</th>
				<th>Notes</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>

	<br>

	<script src="assets/js/requests.js"></script>
	<script src="assets/js/add-listeners.js"></script>
	<script src="assets/js/main.js"></script>

</body>

</html>