* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Courier New', Courier, monospace;
	font-size: 14px;
}

/*====TABLE - Border and border-collapse */
table, th, td {
	border: 1px solid blue;
	border-collapse: collapse;
}

table {
	width: 97%;
	margin: 0 auto;
}

/*  */
th, td {
	padding: 3px 3px;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	height: 2rem;
}

/* Text wraps and is a little smaller */
.largeCell {
	white-space: normal;
	font-size: 0.8rem;
}

#responseDisplay {
	width: 97%;
	margin: 0 auto;
}

td.trashIcon {
	background-image: url("../img/trash-icon.png");
	/* background-color: transparent; */
	background-position: center center;
	background-repeat: no-repeat;
	width: 20px;
}

.editButton {
	background-color: lightseagreen;
	color: white;
}