html, body {
	font-size: 14px;
}

.nowrap {
	white-space: nowrap;
}

.editButton {
	min-width: 6rem;
}

td.trashIcon {
	background-image: url("../img/trash-icon.png");
	/* background-color: transparent; */
	background-position: center center;
	background-repeat: no-repeat;
	width: 20px;
}

.trashIcon:hover{
	background-color: red;
}

.note-overflow {
	height: 10px;
	overflow-y: auto;
}

.textEditable {
	background-color: lightgoldenrodyellow;
}

