body {
	font-size: 12px;
	width: 97%;
	margin: 0 auto;
	/* background-color: cornsilk; */
	/* background-color: snow; */
	/* background-color: whitesmoke; */
	/* background-color:#b8b8b8; */
	/* background: linear-gradient(to right, red, yellow, green); */
	/* background: linear-gradient(to right, gainsboro, #fffff2, gainsboro); */
	/* background: linear-gradient(to left, gainsboro, #fffff2); */
	background: linear-gradient(to right, gainsboro, #fffff2);
}

/* details>form, */

div.table-responsive, .input-group, div.get-btn-parent, details {
	padding: 5px;
	/* background-color: #e2e1e1; */
	/* background: linear-gradient(to right, #e2e1e1, burlywood); */
	/* background:linear-gradient(to bottom right, #85ff78, #87d1de); */
	/* background: linear-gradient(to bottom right, #c6d2ff, #a9dae3); */
	/* background: linear-gradient(to bottom right, #c6d2ff, #313232); */
	/* background: linear-gradient(to bottom right, #a4adcf, #7c8585); */
	background: linear-gradient(to bottom right, #c6d2ff, #3132324d);
	/* background: linear-gradient(to bottom right, #e7ecff, #c4eef6); */
	/* background-color: snow; */
	/* background-color: whitesmoke; */
}

details {
	font-size: 1.1rem;
	margin-top: 10px;
	padding: 0 5px;
}

#myForm {
	font-size: 0.9rem;
}

legend {
	background: linear-gradient(to bottom right, #c6d2ff, #3132324d);
}

/* Overriding bootstrap class */
.btn-sm {
	font-size:0.7rem;
}

.input-group-sm {
	font-size: 0.9rem;
}

tbody>tr:nth-child(odd) {
	background-color: #ffe5c7;
}

tbody>tr:nth-child(even) {
	background-color: #fff3e8;
}

tbody>tr:hover {
	background-color: #feffac;
}

.nowrap {
	white-space: nowrap;
}

.editButton {
	min-width: 6rem;
}

td.trashIcon {
	background-image: url("../img/trash-icon.png");
	/* background-color: transparent; */
	background-position: center center;
	background-repeat: no-repeat;
	width: 20px;
}

.trashIcon:hover {
	background-color: red;
}

.note-overflow {
	/* height: 0;
	overflow-y: scroll; */
	/* background-color: lightblue; */
}

/* tr>td:nth-child(6) {

} */

.textEditable {
	background-color: lightgoldenrodyellow;
}