body {
	font-size: 12px;
	width: 97%;
	margin: 0 auto;
	box-sizing: border-box;
	background: linear-gradient(to right, gainsboro, #fffff2);
}

thead>tr span {
	/* https://css-tricks.com/slightly-careful-sub-elements-clickable-things/ 
	prevents bubbling from span to th
	*/
	pointer-events: none
}

thead>tr th {
	text-align: center;
}

div.table-responsive, .input-group, div.get-btn-parent, details {
	padding: 3px;
	background: linear-gradient(to bottom right, #c6d2ff, #3132324d);
}

details {
	font-size: 1.1rem;
	margin-top: 10px;
	padding: 0 5px;
}

#myForm {
	font-size: 0.9rem;
}

legend {
	background: linear-gradient(to bottom right, #c6d2ff, #3132324d);
}

/* Overriding bootstrap class */

.btn-sm {
	font-size: 0.7rem;
}

.input-group-sm {
	font-size: 0.9rem;
}

tbody>tr:nth-child(odd) {
	background-color: #ffe5c7;
}

tbody>tr:nth-child(even) {
	background-color: #fff3e8;
}

tbody>tr:hover {
	background-color: #feffac;
}

.nowrap {
	white-space: nowrap;
}

.editButton {
	min-width: 6rem;
}

td.trashIcon {
	background-image: url("../img/trash-icon.png");
	background-position: center center;
	background-repeat: no-repeat;
	width: 20px;
}

.trashIcon:hover {
	background-color: red;
}

.note-overflow {
	/* height: 0;
	overflow-y: scroll; */
	/* background-color: lightblue; */
}

.textEditable {
	background-color: lightgoldenrodyellow;
}